header {
    height: 50px;
}

body {
    max-width: 550px;
    margin: 0 auto;
    top: 10px;
}

footer {
    text-align: center;
    margin-top: 10px;
    font-size: 0;
}

*:focus {
    outline: none;
}

button {
    width: 75px;
    height: 40px;
    background: #ccc;
    color: #444;
    border: 0px solid #888;
    border-radius: 3px;
    font-size: 11pt;
    font-family: 'Tahoma', helvetica, sans-serif;
    margin: 1px;
    position: relative;
    display: inline-block;
}

button:hover {
    font-size: 12pt;
}

#cubes {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    padding: 10px;
}

.cube {
    height: 50px;
    width: 50px;
    background: #888;
    margin: 1px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
}